<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Roboto::latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <!--<script src="/js/vendor/jquery.min.js"></script>-->
  <meta charset="UTF-8">
  <title>The great codex mystery!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<body>
  <main>

  {{{content}}}
  {{{_sections.scripts}}}

  </main>

  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/tracking.js/1.1.1/tracking-min.js"></script>
  <script src="/js/vendor/qcode-decoder.min.js"></script>
  <script src="/js/script.js"></script>

</body>
</html>
