<article class="mobileView">

  <section class="video you">
    <div class="meta">Scanning QR Code</div>
    <video class="qrvid" autoplay></video>
  </section>

</article>

<article class="desktopView">

  <div class="meta">Socket_ID: Not yet known</div>

  <section class="QRCodeContainer">
    <iframe class="QRCode" src=""></iframe>
  </section>

</article>
