<article class="desktopView bgBlack">

  <div class="meta">Searching for sticker on Smartphone</div>

  <section class="mapOverlay">
    <div class="inventory">
      <p>This is your inventory! We can put the pieces together when we have all six!</p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>

      </ul>
      <a class="help">Having problems with your phone? Click here to recalibrate your tracking sticker.</a>
    <img class="girl" alt="girl" src="../../img/character_girl.png" width="170px" height="224px"/>
    </div>
  </section>

  <section class="tracking-frame">
    <div class="tracking-container">
<<<<<<< HEAD
      <video id="video" width="960" height="720" preload autoplay loop muted controls></video>
=======
      <video id="video" class="" width="960" height="720" style="visibility:none;"preload autoplay loop muted controls></video>
>>>>>>> feecde9524bf812e011f2f21e2cb63d80b1ecbb1
      <canvas id="canvas" width="960" height="720"></canvas>
    </div>
  </section>

</article>
