<article class="desktopView">

  <div class="meta hidden">Socket_ID: Not yet known</div>
  <div class="popup">
    <p>It's a little dark in my house, so you'll have to use your phone to find the pieces.</p>
    <p>Surf to this adress with your phone and enter the passcode below</p>
    <section class="PairingInfo">
      <iframe class="QRCode" src=""></iframe>
      <h1 class="passcode">0000</h1>
    </section>
    <img class="man" alt="man" src="../../img/character_grandpa.png" width="240px" height="297"/>
  </div>

</article>
