<article class="desktopView">

  <div class="meta hidden">Solve the codex:</div>

  <div id="initialOverlay" class="overlay">
    <p>Great job finding all of the codex pieces. Now it's time to put them back together. There seems to be a pattern...</p>
    <p class="instructions">Use your phone to rotate each piece until the codex opens.</p>
    <img class="girl" alt="girl" src="../../img/character_girl.png" width="170px" height="224px"/>
    <a href="" class="overlay-ok" title="Click here to begin!">Ok!</a>
  </div>

  <div id="winnerOverlay" class="overlay win hidden">
    <p>You did it! Hey look, it's opening. What's this? A code? I wonder what it leads to...</p>
    <p class="instructions">Use the code below when the next level comes out.</p>
    <img class="girl" alt="girl" src="../../img/character_girl.png" width="170px" height="224px"/>
    <section class="PairingInfo nextCode">
      <h1 class="passcode">5ev1nE</h1>
    </section>
  </div>

  <div class= 'main'>
  <!--<input type='text' placeholder='0000'/>-->

  </div>

  </div>

</article>
