<article class="desktopView">

  <div class="meta hidden">Socket_ID: Not yet known</div>
  <div class="overlay">
    <p>Great job finding all of the codex pieces. Now it's time to put them back together. There seems to be a pattern...</p>
    <p class="instructions">Use your phone to rotate each piece until the codex opens.</p>
    <img class="girl" alt="girl" src="../../img/character_girl.png" width="170px" height="224px"/>
    <a href="" class="overlay-ok" title="Click here to begin!">Ok!</a>
  </div>
  <div class="overlay win hidden">
    <p>You did it!!!</p>
    <img class="girl" alt="girl" src="../../img/character_girl.png" width="170px" height="224px"/>
    <a href="" title="Click here to begin!">Ok!</a>
  </div>
  <div class= 'main'>
  <!--<input type='text' placeholder='0000'/>-->
  <p class='helper'>Nothing</p>
  </div>


</article>
