<div class="overlay intro">
	<p>Hi there! I was cleaning out my attic and came across an old blueprint of a codex that my grandpa once made. He says that it spells out a secret message when put together. Do you want to help me make the codex?</p>
	<img class="girl" alt="girl" src="../img/character_girl.png" width="170px" height="224px"/>
  <img class="man" alt="man" src="../img/character_grandpa.png" width="240px" height="297"/>
	<a href="" title="Click here to begin!">Ok!</a>
</div>
