<article class="mobileView bgBlack">

  <div class="meta">Awaiting position</div>



  <section class="lightOverlay">
    &nbsp;
  </section>

  <section class="map">
    <ul class="codexList">
      <!--<li puzzleId="1"></li>
      <li puzzleId="2"></li>
      <li puzzleId="3"></li>
      <li puzzleId="4"></li>
      <li puzzleId="5"></li>
      <li puzzleId="6"></li>-->
    </ul>
  </section>

  <section class="puzzle hidden">
    <h2 class="puzzleTitle">puzzleTitle</h2>
    <ul class="answers">
      <!-- puzzle answers go here -->
    </ul>
  </section>

</article>
