<article class="mobileView bgBlack">

  <div class="meta">Awaiting position</div>

  <section class="lightOverlay">
    &nbsp;
  </section>

  <section class="map">
    <ul>
      <li alt="0"></li>
      <li alt="1"></li>
      <li alt="2"></li>
      <li alt="3"></li>
      <li alt="4"></li>
      <li alt="5"></li>
    </ul>
  </section>

  <section class="puzzle hidden">
    <ul>
      <li alt="a">A</li>
      <li alt="b">B</li>
      <li alt="c">C</li>
      <li alt="d">D</li>

    </ul>
  </section>

</article>
