<article class="mobileView bgBlack">

  <div class="meta">Awaiting position</div>

  <section class="lightOverlay">
    &nbsp;
  </section>

  <section class="map">
    <ul>
      <li puzzleId="1"></li>
      <li puzzleId="2"></li>
      <li puzzleId="3"></li>
      <li puzzleId="4"></li>
      <li puzzleId="5"></li>
      <li puzzleId="6"></li>
    </ul>
  </section>

  <section class="puzzle hidden">
    <ul class="answers">
      <!--<li answerId="1">A</li>
      <li answerId="2">B</li>
      <li answerId="3">C</li>
      <li answerId="4">D</li>-->
    </ul>
  </section>

</article>
