<article class="mobileView bgBlack">

  <section class="controls">
    <ul>
      <li alt="left"><i class="fa fa-caret-square-o-left"></i></li>
      <li alt="right"><i class="fa fa-caret-square-o-right"></i></li>
      <li alt="up"><i class="fa fa-caret-square-o-up"></i></li>
      <li alt="down"><i class="fa fa-caret-square-o-down"></i></li>
    </ul>
  </section>

</article>
