<article class="mobileView">

  <section class="video you">
    <div class="meta hidden">Scanning QR Code</div>
    <video class="qrvid" autoplay></video>
  </section>

  <section class="">
    <p class="instructions_m">Surf to this adress <span class="link">(localhost:3000)</span> with your computer and enter the passcode given.</p>
    <img class="man" alt="man" src="../../img/character_grandpa.png" width="240px" height="297"/>
  </section>

  <section id="PassCodex">
    <div id="passCodex1" class="codexTicker">
      <span class="upButton">&nbsp;</span>
      <h2 id="1" class="rowValue">X</h2>
      <span class="downButton">&nbsp;</span>
    </div>
    <div id="passCodex2" class="codexTicker">
      <span class="upButton">&nbsp;</span>
      <h2 id="2" class="rowValue">X</h2>
      <span class="downButton">&nbsp;</span>
    </div>
    <div id="passCodex3" class="codexTicker">
      <span class="upButton">&nbsp;</span>
      <h2 id="3" class="rowValue">X</h2>
      <span class="downButton">&nbsp;</span>
    </div>
    <div id="passCodex4" class="codexTicker">
      <span class="upButton">&nbsp;</span>
      <h2 id="4" class="rowValue">X</h2>
      <span class="downButton">&nbsp;</span>
    </div>
  </section>

</article>
