<article class="mobileView bgBlack">

  <div class="meta">Awaiting position</div>

  <section class="lightOverlay">
    &nbsp;
  </section>

  <section class="map">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>

</article>
