<article class="mobileView bgBlack">

  <section class="lightOverlay">
    &nbsp;
  </section>

  <section class="map">
    <ul class="codexList">
      <!-- codexPieces go here -->
    </ul>
  </section>

  <section class="puzzle hidden">
    <h2 class="puzzleTitle">puzzleTitle</h2>
    <ul class="answers">
      <!-- puzzle answers go here -->
    </ul>
    <div class="closeButton">
      <span class="icon-remove">&nbsp;</span> Close
    </div>
  </section>

</article>
