@import 'mixins';
@import 'reset';

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

.container {
  margin: 10px;
}

.hidden {
  opacity: 0 !important;
  display: none;
  transition: 0.5s opacity, 0s 0.5s display;
}

/* --- Intro Page ---------------------------------------------------- */

.intro {
  .instructions {
    top: -160px !important;
  }
  .man {
    right: 10px !important;
  }
}
.overlay {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 750px;
  height: 400px;
  opacity: 1;
  background-color: #eee;
  border: 1px solid #ccc;
  transition: 0.5s opacity, 0s 0.5s display;
  z-index: 5;


  p {
    text-align: center;
    font-size: 2.2em;
    line-height: 1.3em;
    width: 100%;
    height: 100%;
    padding: 100px;
  }

  a {
    width: 90px;
    position: absolute;
    text-align: center;
    color: #FFF;
    background-color: #999;
    border: none;
    left: calc(50% - 45px);
    bottom: 50px;
  }

  .girl {
    position: absolute;
    width: 170px;
    height: auto;
    left: -19px;
    bottom: 0;
  }

  .man {
    position: absolute;
    width: 240px;
    height: auto;
    right: -45px;
    bottom: -50px;
  }

  .instructions {
    margin:  0;
    padding: 0;
    font-size: 1.2em;
    height: initial;
    position: relative;
    top: -210px;
  }

}

/* --- Mobile Pairpage ---------------------------------------------------- */

.mobileView, .trackingView {
  @include clearfix;
  //position: fixed;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.mobileView {
  z-index: 10;
}

a {
  display: block;
  font-size: 2em;
  height: 40px;
  border: 1px solid #000;
  padding: 8px;
  margin-left: 10px;
  text-decoration: none;
}

header {
  margin: 10px;
  margin-top: 20px;
  font-size: 3em;
  color: #000;
}

.video {
  position: relative;
  margin: 0 auto;
}

.meta {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  background-color: #52A6E6;
  padding: 5px 10px;
  font-size: 1.5em;
  z-index: 400;
}

.disabled {
  opacity: .1;
}

#PassCodex{

  position: fixed;
  width: 100%;
  height: 170px;
  bottom: 0px;
  background-color: rgb(244, 244, 244);
  z-index: 100;

  #passCodex1{
    left: 20%;
  }
  #passCodex2{
    left: 40%;
  }
  #passCodex3{
    left: 60%;
  }
  #passCodex4{
    left: 80%;
  }

  .codexTicker{
    position: fixed;
    width: 40px;
    height: 140px;
    bottom: 10px;
    margin-left: -20px;
    text-align: center;
    z-index: 120;
  }

  span{
    height: 40px;
    width: 40px;
  }

  .rowValue{
    font-size: 6em;
    font-family: helvetica, roboto;
    text-align: center;
  }

  .upButton, .downButton{
    display: block;
    width: 40px;
    height: 20px;
    margin: 0px;
  }

  .upButton{
    margin-bottom: 20px;
  }

  .downButton{
    margin-top: 16px;
  }

  .upButton:before, .downButton:before{
    display: block;
    content: '';
    height: 0; width: 0;
    top:0px; left:0px;
    border: 20px transparent solid;
    border-bottom-color: #333;
  }

  .upButton:before{
    border-top-width: 0;
  }

  .downButton:before{
    transform: rotate(180deg);
    border-top-width: 0;
  }

}

.mobileView .man {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 0;
}

.help {
  border: none;
  position: absolute;
  bottom: 222px;
  background-color: white;
  padding: 14px;
  border-radius:  4px;
  right: 9px;
  width: 90% !important;
  height: initial;
  font-size: 1.4em;
  margin-bottom: 20px;
  line-height: 1.2;
  z-index: 3;
}

.help:after {
  top: 100%;
  left: 21%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(196, 199, 213, 0);
  border-top-color: white;
  border-width: 9px;
  margin-left: -9px;
}

/* --- Desktop PairPage ---------------------------------------------------- */

.desktopView {

  @include clearfix;
  position: fixed;
  width: 100%;
  height: 100%;

}

.PairingInfo {

  position: absolute;
  width: 440px;
  height: 180px;
  left: 20.9%;
  top: 54%;

  .QRCode, h1{
    float: left;
  }

  .QRCode {
    width: 150px;
    height: 150px;
    margin: 15px;
  }

  h1{
    display: block;
    width: 200px;
    height: 150px;
    margin: 40px 10px 15px 10px;
    font-size: 10em;
    font-family: helvetica, roboto;
  }

}

/* --- Desktop MapSynch ---------------------------------------------------- */

.bgBlack{
  background-color: rgb(10, 10, 10);
}

.mapOverlay{

  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(244, 244, 244);
  background-image: url('/img/room_dark.jpg');
  background-size: cover;
  background-position: center;
  z-index: 2;

}

.hidden{
  opacity: 0;
}

.tracking-frame, .tracking-container{

  position: fixed;
  width: 960px;
  height: 720px;
  left: 50%;
  top: 50%;
  margin-left: -480px;
  margin-top: -360px;
  z-index: 1;

  video, canvas{
    position: absolute;
    top: 0;
    left: 0;
  }

}

.inventory {

  background-color: rgba(100, 100, 100, .7);
  position: fixed;
  right: 0;
  top: 0;
  width:  200px;
  height: 100%;
  padding:  20px 12px;
  z-index: 3;

  p {
    display:  block;
    width: 100%;
    font-size: 1.4em;
    line-height: 1.2;
    margin-top: 10px;
    text-align: center;
    color: white;
  }

  li {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-color: #272822;
    transition: background-color 0.4s ease-in-out;
    margin:  5px;
  }


  li.found {
    opacity: 0.4;
    background-size: contain;
  }

  li.solved {
    opacity: 1;
    background-size: contain;
  }

  li.solved[puzzleId = "1"], li.found[puzzleId = "1"] {
    //background-color: #A4E300;
    background-image: url('/img/item_1.png');
  }
  li.solved[puzzleId = "2"], li.found[puzzleId = "2"] {
    //background-color: #A4E300;
    background-image: url('/img/item_2.png');
  }
  li.solved[puzzleId = "3"], li.found[puzzleId = "3"] {
    //background-color: #A4E300;
    background-image: url('/img/item_3.png');
  }
  li.solved[puzzleId = "4"], li.found[puzzleId = "4"] {
    //background-color: #A4E300;
    background-image: url('/img/item_4.png');
  }
  li.solved[puzzleId = "5"], li.found[puzzleId = "5"] {
    //background-color: #A4E300;
    background-image: url('/img/item_5.png');
  }
  li.solved[puzzleId = "6"], li.found[puzzleId = "6"] {
    //background-color: #A4E300;
    background-image: url('/img/item_6.png');
  }

  ul {
    margin: 20px 0px;
    text-align: center;
  }

  .girl {
    bottom: 0;
    position: absolute;
  }

}

.instructions_m {
  margin:  0;
  padding: 20px;
  width: 100%;
  font-size: 2em;
  height: initial;
  position: relative;
  top: -100px;
  z-index: 2;
  text-shadow: 0 0 2px #fff;
}

@-webkit-keyframes shakePuzzle{
  0% { margin-left: -319px; }
  14% { margin-left: -324px; }
  28% { margin-left: -329px; }
  43% { margin-left: -324px; }
  57% { margin-left: -320px; }
  71% { margin-left: -324px; }
  85% { margin-left: -327px; }
  100% { margin-left: -324px; }
}

.puzzleInfo.wrongAnswer {

  -webkit-animation-name: shakePuzzle;
  -webkit-animation-duration: 350ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;

  h2.puzzleTitle {
    color: #FC2065;
  }

}

.puzzleInfo.correctAnswer {

  h2.puzzleTitle {
    color: #A4E300;
  }

  img.puzzleImg {
    opacity: 0;
  }

}

.puzzleInfo {

  position: fixed;
  width: 648px;
  height: 308px;
  left: 50%;
  top: 50%;
  margin-left: -324px;
  margin-top: -154px;
  background-color: #FFF;
  border: 4px solid #FFF;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  z-index: 4;

  .images {

    width: 300px;
    height: 300px;
    float: left;

    img, div {
      position: absolute;
      width: 300px;
      height: 300px;
      top: 0;
      left: 0;
    }

  }

  img.puzzleImg {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    z-index: 5;
  }

  div.correctImg {
    color: #FFF;
    padding-top: 100px;
    padding-left: 24px;
    font-size: 9em;
    text-align: center;
    background-color: #A4E300;
    z-index: 4;
  }

  .questionInfo {
    float: left;
  }

  h2.puzzleTitle {
    display: block;
    width: 340px;
    height: 40px;
    padding: 20px 25px;
    color: #4DA5E9;
    font-size: 2em;
    font-weight: bold;
    font-family: helvetica;
    transition: color 0.4s ease-in-out;
  }

  p.question {
    display: block;
    width: 340px;
    height: 240px;
    padding: 25px;
    color: #333333;
    font-size: 1.2em;
    font-weight: bold;
    font-family: helvetica;
    text-align: justify;
    line-height: 1.6em;
  }

}


/* --- Mobile MapSynch ---------------------------------------------------- */

.lightOverlay{

  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url('/img/flashlight_overlay.png');
  background-repeat: none;
  background-position: center;
  z-index: 3;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  pointer-events: none;
  transition: background-color 1s;

}

.map{

  position: fixed;
  width: 1770px;
  height: 1080px;
  left: 50%;
  top: 50%;
  margin-left: -1024px;
  margin-top: -625px;
  background-image: url('/img/room_light.jpg');
  background-size: contain;
  background-position: center;
  z-index: 1;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    position: absolute;
    width: 4%;
    height: 7%;

    margin:  5px;
    background-size: contain;
  }

  //op de kast rechts
  li:nth-child(1) {
    right: 250px;
    top: 108px;
    right: 21%;
    top: 16%;
    background-image: url('/img/item_1.png');
  }

  //op de haard
  li:nth-child(2) {
    right: 480px;
    top: 210px;
    right: 41%;
    top: 29.7%;
    background-image: url('/img/item_2.png');
  }

  //op de kast links
  li:nth-child(3) {
    left: 300px;
    top: 108px;
    left: 25%;
    top: 16%;
    background-image: url('/img/item_3.png');
  }

  //op de kast rechts - midden
  li:nth-child(4) {
    right: 50px;
    bottom: 350px;
    right: 4%;
    bottom: 48.3%;
    background-image: url('/img/item_4.png');
  }

  //bij de hond
  li:nth-child(5) {
    left: 330px;
    bottom: 80px;
    left: 28%;
    bottom: 11%;
    background-image: url('/img/item_5.png');
  }

  //bij het vuur
  li:nth-child(6) {
    right: 285px;
    bottom: 140px;
    right: 24%;
    bottom: 15%;
    background-image: url('/img/item_6.png');
  }

}

.puzzle {

  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #272822;
  text-align: center;
  z-index: 20;

  h2.puzzleTitle {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    font-family: helvetica;
    font-size: 2em;
    font-weight: bold;
    padding: 14px 0px;
    color: #FFF;
    background-color: rgb(77, 165, 233);
    z-index: 11;
  }

  p {
    text-align: center;
    font-size: 2.2em;
    line-height: 1.3em;
    width: 100%;
    height: 100%;
    padding: 100px;
  }

  ul {
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }

  li {
    position: relative;
    text-align: center;
    font-family: helvetica;
    font-size: 2.6em;
    font-weight: bold;
    color: #FFF;
    list-style: none;
    transition: background-color 0.4s ease-in-out;
  }

  li.false.showColor {
    background-color: #FC2065;
  }

  li.correct.showColor {
    background-color: #82CE0E;
  }

}

@media only screen and (orientation:portrait){

  .puzzle li {

    width: 100%;
    padding: 24px 0px;
    margin-bottom: 2%;

  }

}

@media only screen and (orientation:landscape){

  .puzzle ul {
    padding: 1%;
  }

  .puzzle li {

    width: 48%;
    padding: 32px 0px;
    margin: 1%;
    display: inline-block;
    float: left;

  }

}

.main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.controls {

  //position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;

  li {
    color: white;
    font-size: 10.0em;
    display: block;
    width: 25%;
    height: 25%;
    position: fixed;
  }

  li[alt='left'] {
    top: 40%;
    left: 4%;
  }
  li[alt='right'] {
    right: 4%;
    top: 40%;
  }
  li[alt='up'] {
    left: 40%;
    top: 2%;
  }
  li[alt='down'] {
    bottom: 2%;
    left: 40%;
  }
}







