<article class="desktopView">

  <div class="meta">Socket_ID: Not yet known</div>

  <section class="PairingInfo">
    <iframe class="QRCode" src=""></iframe>
    <h1 class="passcode">0000</h1>
  </section>

</article>
