<article class="mobileView">

  <section class="video you">
    <div class="meta">Scanning QR Code</div>
    <video class="qrvid" autoplay></video>
  </section>

  <section id="PassCodex">
    <div id="passCodex1" class="codexTicker">
      <span class="upButton">&nbsp;</span>
      <h2 id="1" class="rowValue">X</h2>
      <span class="downButton">&nbsp;</span>
    </div>
    <div id="passCodex2" class="codexTicker">
      <span class="upButton">&nbsp;</span>
      <h2 id="2" class="rowValue">X</h2>
      <span class="downButton">&nbsp;</span>
    </div>
    <div id="passCodex3" class="codexTicker">
      <span class="upButton">&nbsp;</span>
      <h2 id="3" class="rowValue">X</h2>
      <span class="downButton">&nbsp;</span>
    </div>
    <div id="passCodex4" class="codexTicker">
      <span class="upButton">&nbsp;</span>
      <h2 id="4" class="rowValue">X</h2>
      <span class="downButton">&nbsp;</span>
    </div>
  </section>

</article>
